/*body {
    background-image: linear-gradient(to right,rgba(2,76,82,255), black, rgba(1,134,139,255),black, rgba(2,76,82,255));
}*/
body {
    background-image: url(Pics/beach.jpg);
}
.img1 {
    width: 350px;
    height: 400px;
    margin-left: 170px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    box-shadow: black 20px 20px 20px;
}
.img2 {
  border-style: solid;
  border-color: white;
    box-shadow: black 20px 20px 20px;
    width: 350px;
    height: 400px;
    margin-left: 150px;
    border-radius: 10px;
}

.rooms {
    margin-bottom: 50px;
}

.room1 {
    margin-left: 150px;
    margin-top: -10px;
    border: 2px solid #eaeaea;
  border-radius: 5px;
  padding: 10px;
  width: 380px;
  background-color: black;
}
.room2 {
    margin-left: 650px;
    margin-top: -420px;
    margin-bottom: 50px;
    border: 2px solid #eaeaea;
  border-radius: 5px;
  padding: 10px;
  width: 380px;
  height: 395px;
  background-color: black;
}
.list1 {
    list-style-type: none;
    color: white;
}
.list2 {
    list-style-type: none;
    color: white;
}

.text1 {
    font-size: 35px;
    margin-left: 300px;
    border: 2px solid #eaeaea;
  border-radius: 5px;
    margin-bottom: -60px;
    margin-top: -20px;
    background-color: black;
    color: white;
    width: 120px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text2 {
  background-color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 2px solid #eaeaea;
  border-radius: 5px;
  font-style: italic;
    color: white;
    width: 120px;
    font-size: 35px;
    margin-left: 800px;
}

.text {
  margin-top: -70px;
}
ul li {
    font-size: 20px;
}
.header{
   font-size: 35px;
   background-color: aliceblue;
   padding: 10px;
    margin: -8px;
    opacity: 0.8;
}
.buttons {
    margin-bottom: 100px;
}

.button1 {
    font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(196, 215, 244); /* Green */
    color: black;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    right: 405px;
    margin-top: -40px;
    text-decoration: none;
    font-weight: bolder;
  }
  .button1:hover {
    background-color: black; 
    color: white;
  }


  .button2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black; 
    color: white;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    right: 290px;
    margin-top: -40px;
    text-decoration: none;
    font-weight: bolder;
  }
  .button2:hover {
   background-color:rgb(196, 215, 244); /* Green */
    color: black;
  }
  .button3 {
    font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(196, 215, 244); /* Green */
    color: black;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    right: 130px;
    margin-top: -40px;
    text-decoration: none;
    font-weight: bolder;
  }
  .button3:hover {
    background-color: black; 
    color: white;
  }
  .button4 {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(196, 215, 244); /* Green */
    color: black;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    right: 15px;
    margin-top: -40px;
    text-decoration: none;
    font-weight: bolder;
  }
  .button4:hover {
   background-color: black; 
   color: white;
 }

 .end {
  text-align: center;
  color: white ;
  font-size: 16px;
  position: absolute;
  bottom: auto;
  left: 0;
  width: 100%;
  background-color: #0d252f;
}

.fa {
  padding: 12px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook:hover {
  opacity: 0.7;
  color: white;
  background: #3B5998;
}
.fa-facebook {
background: #bcddfe;
color: #0d252f;
display: inline-grid;
margin-bottom: -10px;
}
.fa-instagram:hover {
  opacity: 0.7;
  color: white;
  background: #125688;
}
.fa-instagram {
background: #bcddfe;
color: #0d252f;
display: inline-grid;
margin-bottom: -10px;
}
.fa-twitter:hover {
opacity: 0.7;
  color: white;
  background: #55AACE;
}
.fa-twitter {
  background: #bcddfe;
  color: #0d252f;
  display: inline-grid;
  margin-bottom: -10px;
}
